<figure id="angular">
  <img
    src="cesar-gutierrez-portfolio/public/icons/angular.svg"
    alt="Logo angular"
    id="angular__icon"
  />
  <p id="angular__text">Angular</p>
</figure>

<style>
  #angular {
    max-height: 40px;
    min-width: fit-content;
    border: 2px solid #e769b6;
    background-color: var(--black-color);
    cursor: default;
    display: flex;
    padding: 0.3em 0.5em;
    width: fit-content;
    gap: 0.5em;
    align-items: center;
    border-radius: 20px;
    #angular__icon {
      object-fit: contain;
      width: 24px;
      height: 24px;
    }
    #angular__text {
      font-weight: 700;
      color: #e769b6;
    }
  }
</style>
