<figure id="astro">
  <img
    src="/cesar-gutierrez-portfolio/public/icons/astro.svg"
    alt="Logo astro"
    id="astro__icon"
  />
  <p id="astro__text">Astro</p>
</figure>

<style>
  #astro {
    max-height: 40px;
    min-width: fit-content;
    border: 2px solid #fb5d02;
    background-color: var(--black-color);
    cursor: default;
    display: flex;
    padding: 0.3em 0.5em;
    width: fit-content;
    gap: 0.5em;
    align-items: center;
    border-radius: 20px;
    #astro__icon {
      width: 24px;
      height: 24px;
      object-position: center center;
      object-fit: contain;
    }
    #astro__text {
      font-weight: 700;
      color: #fb5d02;
    }
  }
</style>
