<figure id="git">
  <img
    src="cesar-gutierrez-portfolio/public/icons/git.svg"
    alt="Logo git"
    id="git__icon"
  />
  <p id="git__text">Git</p>
</figure>

<style>
  #git {
    max-height: 40px;
    min-width: fit-content;
    border: 2px solid #f34f29;
    background-color: var(--black-color);
    cursor: default;
    display: flex;
    padding: 0.3em 0.5em;
    width: fit-content;
    gap: 0.5em;
    align-items: center;
    border-radius: 20px;
    #git__icon {
      object-fit: contain;
      width: 24px;
      height: 24px;
    }
    #git__text {
      font-weight: 700;
      color: #f34f29;
    }
  }
</style>
