<figure id="github">
  <img
    src="/cesar-gutierrez-portfolio/public/icons/github.svg"
    alt="Logo github"
    id="github__icon"
  />
  <p id="github__text">Github</p>
</figure>

<style>
  #github {
    max-height: 40px;
    min-width: fit-content;
    border: 2px solid var(--black-color);
    background-color: var(--white-color);
    cursor: default;
    display: flex;
    padding: 0.3em 0.5em;
    width: fit-content;
    gap: 0.5em;
    align-items: center;
    border-radius: 20px;
    #github__icon {
      object-fit: contain;
      width: 24px;
      height: 24px;
    }
    #github__text {
      font-weight: 700;
      color: var(--black-color);
    }
  }
</style>
