<figure id="html5">
  <img
    src="/cesar-gutierrez-portfolio/public/icons/html5.svg"
    alt="Logo html5"
    id="html5__icon"
  />
  <p id="html5__text">HTML 5</p>
</figure>

<style>
  #html5 {
    max-height: 40px;
    min-width: fit-content;
    border: 2px solid #e34c26;
    background-color: var(--white-color);
    cursor: default;
    display: flex;
    padding: 0.3em 0.5em;
    width: fit-content;
    gap: 0.5em;
    align-items: center;
    border-radius: 20px;
    #html5__icon {
      object-fit: contain;
      width: 24px;
      height: 24px;
    }
    #html5__text {
      font-weight: 700;
      color: #f06529;
    }
  }
</style>
