<figure id="javascript">
  <img
    src="cesar-gutierrez-portfolio/public/icons/javascript.svg"
    alt="Logo javascript"
    id="javascript__icon"
  />
  <p id="javascript__text">Javascript</p>
</figure>

<style>
  #javascript {
    max-height: 40px;
    min-width: fit-content;
    border: 2px solid #f0db4f;
    background-color: #323330;
    cursor: default;
    display: flex;
    padding: 0.3em 0.5em;
    width: fit-content;
    gap: 0.5em;
    align-items: center;
    border-radius: 20px;
    #javascript__icon {
      object-fit: contain;
      width: 24px;
      height: 24px;
    }
    #javascript__text {
      font-weight: 700;
      color: #f0db4f;
    }
  }
</style>
