<figure id="typescript">
  <img
    src="/cesar-gutierrez-portfolio/public/icons/typescript.svg"
    alt="Logo typescript"
    id="typescript__icon"
  />
  <p id="typescript__text">TypeScript</p>
</figure>

<style>
  #typescript {
    max-height: 40px;
    min-width: fit-content;
    border: 2px solid #007acc;
    background-color: var(--white-color);
    cursor: default;
    display: flex;
    padding: 0.3em 0.5em;
    width: fit-content;
    gap: 0.5em;
    align-items: center;
    border-radius: 20px;
    #typescript__icon {
      padding: 1px;
      object-fit: contain;
      width: 24px;
      height: 24px;
    }
    #typescript__text {
      font-weight: 700;
      color: #007acc;
    }
  }
</style>
