<article class="about-me__info">
  <h2>Sobre mí</h2>
  <p>
    Desde pequeño me ha gustado la tecnología, siempre he sido curioso y me
    gusta aprender cosas nuevas. Me gusta la programación y el desarrollo web,
    me gusta aprender cosas nuevas y aplicarlas en mis proyectos. Soy de Lima,
    Perú y tengo 23 años.
  </p>
</article>

<style>
  .about-me__info {
    grid-column-start: 1;
    grid-row: 1 / span 2;
    background-color: var(--darkgray-color);
    color: var(--color-white);
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;

    h2 {
      font-size: var(--h2-responsive);
      font-family: var(--archivo-black-font);
    }
  }
</style>
