<article class="about-me__education">
  <h2>Educación</h2>
  <h3>Cibertec</h3>
  <p>Técnico en Desarrollo de Software 2023 Actualidad</p>
  <p>Especialización fullstack con Java 17 2024 - Actualidad</p>
</article>

<style>
  .about-me__education {
    grid-column-start: 1;
    grid-row: 3 / span 2;
    background-color: var(--darkgray-color);
    color: var(--color-white);
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;

    h2 {
      font-size: var(--h2-responsive);
      font-family: var(--archivo-black-font);
    }

    h3 {
      font-size: var(--h3-responsive);
      font-family: var(--archivo-black-font);
    }
  }
</style>
