---
import ProjectsItems from "./ProjectsItems.astro";
import Subtitle from "./Subtitle.astro";
---

<section class="projects">
  <Subtitle
    src="/cesar-gutierrez-portfolio/icons/code.svg"
    alt="Proyecto Grúas Edeca"
    children="Proyectos"
  />
  <ProjectsItems />
</section>

<style>
  .projects {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--darkgray-color);
  }
</style>
