---
interface SubtitleProps {
  src: string;
  alt: string;
  children: string;
}

const { src, alt, children } = Astro.props as SubtitleProps;
---

<h2><img src={src} alt={alt} />{children}</h2>

<style>
  h2 {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-family: var(--archivo-black-font);
    font-size: var(--h2-responsive);
    color: var(--white-color);
  }
  img {
    width: 35px;
    height: 35px;
  }
</style>
